.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  list-style: none;
  background-color: rgb(175, 37, 64);
  color: white;
}

.subText {
  color:  white;
  padding-top: 15px;
}

.liked {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border: none;
  border: 1px solid #ccc;
  width: 300px;
  list-style: none;
}

.card:hover{
  margin: 1rem;
  box-shadow: 0 0 10px 0 rgb(151, 151, 151);
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  list-style: none;
}

.card .details {
  padding: 0.5rem;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.header {
  text-align:center;
  font-size: x-large; 
  background-color: rgb(175, 37, 64);
  color: white;
  height: 100px;
}

.title {
  text-align: center;
  font-size: x-large
}

.button {
  background: none;
  border: none;
}

.button:hover{
  background: grey;
  border-radius: 100px;
}

.navBar {
  background-color: rgb(175, 37, 64);
}